In [46]:
import os
import pandas as pd
import glob
files = glob.glob('data/data/*.csv')
print (files)


df = pd.concat([pd.read_csv(fp).assign(filename=os.path.basename(fp)) for fp in files])

['data/data\\election_07-21-2020_10-40-22_3cands_0.006666666666666667noise.csv', 'data/data\\election_07-21-2020_10-40-23_3cands_0.02666666666666667noise.csv', 'data/data\\election_07-21-2020_10-40-23_3cands_0.03333333333333333noise.csv', 'data/data\\election_07-21-2020_10-40-23_3cands_0.03noise.csv', 'data/data\\election_07-21-2020_10-40-23_3cands_0.04666666666666667noise.csv', 'data/data\\election_07-21-2020_10-40-23_5cands_0.01noise.csv', 'data/data\\election_07-21-2020_10-40-23_5cands_0.026000000000000002noise.csv', 'data/data\\election_07-21-2020_10-40-24_3cands_0.013333333333333334noise.csv', 'data/data\\election_07-21-2020_10-40-24_3cands_0.016666666666666666noise.csv', 'data/data\\election_07-21-2020_10-40-24_3cands_0.023333333333333334noise.csv', 'data/data\\election_07-21-2020_10-40-24_3cands_0.043333333333333335noise.csv', 'data/data\\election_07-21-2020_10-40-24_4cands_0.0125noise.csv', 'data/data\\election_07-21-2020_10-40-24_4cands_0.0175noise.csv', 'data/data\\election_07-21-2020_10-40-24_6cands_0.0033333333333333335noise.csv', 'data/data\\election_07-21-2020_10-40-25_6cands_0.021666666666666667noise.csv', 'data/data\\election_07-21-2020_10-40-26_3cands_0.0033333333333333335noise.csv', 'data/data\\election_07-21-2020_10-40-26_3cands_0.03noise.csv', 'data/data\\election_07-21-2020_10-40-26_6cands_0.015noise.csv', 'data/data\\election_07-21-2020_10-40-27_4cands_0.0225noise.csv', 'data/data\\election_07-21-2020_10-40-27_4cands_0.0275noise.csv']

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 476977 entries, 0 to 34311
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      476977 non-null  int64
 1   candidate_1     476977 non-null  object
 2   candidate_2     476977 non-null  object
 3   candidate_3     476977 non-null  object
 4   num_candidates  476977 non-null  int64
 5   noise           476977 non-null  float64
 6   filename        476977 non-null  object
 7   candidate_4     195866 non-null  object
 8   candidate_5     112849 non-null  object
 9   candidate_6     67378 non-null   object
dtypes: float64(1), int64(2), object(7)
memory usage: 27.3+ MB

In [21]:
df = df[['Unnamed: 0', 'candidate_1', 'candidate_2', 'candidate_3','candidate_4','candidate_5','candidate_6','noise', 'num_candidates', 'filename',]]

In [22]:
df.iloc[:, 1:-3]

,candidate_1,candidate_2,candidate_3,candidate_4,candidate_5,candidate_6
0,candidate_1,candidate_2,candidate_3,NaN,NaN,NaN
1,candidate_1,candidate_2,candidate_3,NaN,NaN,NaN
2,candidate_1,candidate_2,candidate_3,NaN,NaN,NaN
3,candidate_1,candidate_2,candidate_3,NaN,NaN,NaN
4,candidate_1,candidate_2,candidate_3,NaN,NaN,NaN
...,...,...,...,...,...,...
34307,candidate_4,candidate_3,candidate_2,candidate_1,NaN,NaN
34308,candidate_4,candidate_3,candidate_2,candidate_1,NaN,NaN
34309,candidate_4,candidate_3,candidate_2,candidate_1,NaN,NaN
34310,candidate_4,candidate_3,candidate_2,candidate_1,NaN,NaN
34311,candidate_4,candidate_3,candidate_2,candidate_1,NaN,NaN

In [29]:
df.head()

,Unnamed: 0,candidate_1,candidate_2,candidate_3,candidate_4,candidate_5,candidate_6,noise,num_candidates,filename
0,0,candidate_1,candidate_2,candidate_3,NaN,NaN,NaN,0.006667,3,election_07-21-2020_10-40-22_3cands_0.00666666...
1,1,candidate_1,candidate_2,candidate_3,NaN,NaN,NaN,0.006667,3,election_07-21-2020_10-40-22_3cands_0.00666666...
2,2,candidate_1,candidate_2,candidate_3,NaN,NaN,NaN,0.006667,3,election_07-21-2020_10-40-22_3cands_0.00666666...
3,3,candidate_1,candidate_2,candidate_3,NaN,NaN,NaN,0.006667,3,election_07-21-2020_10-40-22_3cands_0.00666666...
4,4,candidate_1,candidate_2,candidate_3,NaN,NaN,NaN,0.006667,3,election_07-21-2020_10-40-22_3cands_0.00666666...

In [30]:
df.to_csv('pyrankobjs/master_election_new.csv')